/*all*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

/*login*/
#logo_login{
    position: relative;
    left:20%
}

/*registration,home,house,cycle*/
.logo_all{
	position: relative;
	width: 20%;
	height: 20%;
}

/*login*/
.login{
    position: relative;
    text-align: center;
    display:block;
    width: 300px;
    height: 30px;
    border: 3px solid gray;
    margin-left: auto;
    margin-right: auto;
	border-radius: 15px;
}

/*registration*/
#register_2,#register_3,#register_4{
	margin-top: 4px;
}

/*login*/
#remember_button_login{
    position: relative;
    text-align: center;
}

/*login*/
#error_login_login{
	position: relative;
	color: red;
	text-align: center;
}

/*login*/
#button_login_login{
	position: relative;
    text-align: center;
    display:block;
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
	border-radius: 5px;
	opacity: 0.6;
	background-color: yellow;
	font-weight: 900;
}
	#button_login_login:hover{
		opacity: 1;
	}

/*login*/
#button_register_login{
	position: relative;
    text-align: center;
    display:block;
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
	border-radius: 5px;
	opacity: 0.6;
	background-color: yellow;
	font-weight: 900;
}
	#button_register_login:hover{
		opacity: 1;
	}

/*registration*/
#button_register_registration{
	position: relative;
    text-align: center;
    display:block;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
	border-radius: 15px;
	opacity: 0.8;
	background-color: #007bff;
	font-weight: 900;
	color: white;
}
	#button_register_registration:hover{
		opacity: 1;
	}

/*registration*/
.validation-message{
	color: red;
}
	#v-m_pass{
		text-align: center;
	}
	#v-m_email{
		text-align: center;
	}
	#v-m_name{
		text-align: center;
	}

/*registration*/
#success_message_registration{
	position: relative;
	text-align: center;
	color: red;
	font-weight: 900;
}

/*registration*/
#button_back_registration{
	position: relative;
    text-align: center;
    display:block;
    width: 150px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
	border-radius: 15px;
	opacity: 0.6;
	background-color: yellow;
	font-weight: 900;
}
	#button_back_registration:hover{
		opacity: 1;
	}

/*registration*/
#register_registration{
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color:black;
}

/*home*/
#brak_kurnikow_home{
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color: black;
}

/*home*/
#button_utworz_kurnik_home{
	position: relative;
	width: 225px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
	opacity: 0.8;
	background-color: blue;
	color: white;
	font-weight: 900;
}
	#button_utworz_kurnik_home:hover{
		opacity: 1;
	}

/*home*/
#text_witaj_home{
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color:black;
}

/*home*/
#lista_kurnikow_home{
	text-align: center;
}

/*home*/
.container_home{
	width: 200px;
	height: 70px;
}

/*home*/
#table-bordered{
	border: 2px solid gray;
}

/*home, house, cycle*/
.button_logout{
	position: absolute;
    text-align: center;
    display:block;
    width: 120px;
    height: 40px;
	margin-left: 5%;
	margin-top: 30px;
	border-radius: 15px;
	opacity: 1;
	background-color: darkorange;
	font-weight: 900;
	z-index: 999;
}
	.button_logout:hover{
		opacity: 0.7;
	}

/*house, cycle*/
#editHouseDropdown,#deleteDropdown,#dropdownMenuLink,#editDropdownCycle,#delete_dropdown_cycle{
	display: block;
	position: relative;
	width: 250px;
    height: 40px;
	opacity: 1;
	background-color: #28AF0F;
	color: white;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;	
}
	#editHouseDropdown:hover,#deleteDropdown:hover,#dropdownMenuLink:hover,#editDropdownCycle:hover,#delete_dropdown_cycle:hover{
		opacity: 0.8;
	}

/*cycle*/
#delete_dropdown_cycle{
	background-color:red;
}

/*cycle*/
#forageDropdown,#medicineDropdown,#dayDropdown{
	display: block;
	position: relative;
	width: 120px;
    height: 30px;
	opacity: 1;
	background-color: #28AF0F;
	color: white;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-size: 10px
}
	#forageDropdown:hover,#medicineDropdown:hover,#dayDropdown:hover{
		opacity: 0.8;
	}

/*house, cycle*/
.newDropdown_house{
	display:block;
	opacity: 1;
	background-color: blue;
	color: white;
	font-weight: 900;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
	.newDropdown_house:hover{
		opacity: 0.8;
	}

/*house*/
.row{
	display: inline-flex;
}

/*cycle*/
.rowek{
	display: block;
}

/*cycle*/
.col-md-6{
	max-width: 100%
}

/*house*/
#srodek_buttony_house{
	margin-left: 25%;
	margin-right: 25%;
}

/*home*/
#button_kurnik_home{
	display: block;
	position: relative;
	width: 250px;
    height: 40px;
	opacity: 1;
	background-color: #28AF0F;
	color: white;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}	
	#button_kurnik_home:hover{
		opacity: 0.8;
	}

/*house*/
#kurnik_powierzchnia_house{
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color:black;
}

/*house*/
#nie_ma_rzutow_house{
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color:black;
}

/*house, cycle*/
.button_back{ 
	position: absolute;
    text-align: center;
    display:block;
    width: 120px;
    height: 40px;
	margin-left: 5%;
	margin-top: 45px;
	border-radius: 15px;
	opacity: 1;
	background-color: yellowgreen;
	font-weight: 900;	
}
	.button_back:hover{
		opacity: 0.7;
	}

/*cycle*/
#button_uboj_house{
	background-color: blueviolet;
	color: white;
}

/*cycle*/
.table_cycle{
	border: 2px solid gray;
	text-align: center;
	width: 70%;
}

/*cycle*/
.table_cycle_right{
	border-right: 2px solid gray;
	text-align: center;
	left: -30%;
}

/*cycle*/
ul,li{
	list-style: none outside;
	margin:0;
	padding:0;
}

/*cycle*/
#button_nowy_cycle{
	display: block;
	position: relative;
	width: 250px;
    height: 40px;
	opacity: 1;
	background-color: #0755AE;
	color: white;
	font-weight: 900;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}	
	#button_nowy_cycle:hover{
		opacity: 0.8;
	}

/*cycle*/
ul{
	text-align:center;
	margin-left:auto;
	margin-right:auto
}

/*cycle*/
#pasza_delete_cycle{
	background-color: red;
	color: white;
	font-weight: 900;
	font-size: 10px;
}

/*cycle*/
#leki_delete_cycle{
	background-color: red;
	color: white;
	font-weight: 900;
	font-size: 10px;
}

/*cycle*/
.cycles_center_house{
	text-align: center;
}

/*all*/
.p_pogrubienie{
	font-weight: 900;
}

/*all*/
.p_normal{
	font-weight: 400;
}

/*cycle*/
.cycle_srodkowanie{
	text-align: center;
	font-weight: 900;
}

/*cycle*/
#comments{
	height: 30px;
	width: 140px;
}

/*cycle*/
#sizer_cycle{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 16px;
	margin-bottom: 15px;
}

/*all*/
.not_strong{
	font-weight: 400;
}

/*cycle*/
.cycle_stronger{
	font-weight: 900;
}

/*cycle*/
.border_cycle{
	border: 1px solid black;
}

/*cycle*/
.table_cycle_strong{	
	font-weight: 900;
}

/*cycle*/
.table td{	
	vertical-align: middle;
}

/*slaughter*/
.slaughter_first{
	margin-right: auto;
	margin-left: auto;
}

/*cycle*/
.color_trzeci_wiersz{
	background-color: #cfb1ff;
}

/*all*/
.black_strong{
	color: black;
	font-weight: 900;
}

/*all*/
.gray_strong{
	color: #2C2C2C;
}

/*cycle*/
.card{
	border: none;
}

/*cycle*/
.table_cycle_big{
	width: 100%;
}

/*slaughter*/
.uboj_save{
	color: green !important;
	font-weight: 900 !important;
}

/*cycle*/
#button_cycle_rozwin{
	width: 100%;
	height: 35px;
	opacity: 1;
	border: none;
	background-color: transparent;
}
	#button_cycle_rozwin:hover{
		opacity: 0.5;
		color: black;
	}

/*slaughter*/
.border_gora_uboj{
	border: 2px solid black;
	font-weight: 900;
}

/*cycle*/
.inline_cycle{
	display: inline-flex;
}

/*cycle*/
.uwagi_cycle{
	height: 30px;
}

/*end normal-view*/



@media (max-width:727px){
/*login*/
	#logo_login{
		margin-left: 10%;
		width: 50%;
		height: 50%;
	}
	
/*all*/
	.logo_all{
		left: 20%;
		margin-left: 10%;
		width: 50%;
		height: 50%;
	}
	
/*registration*/
	#register_registration{
		font-size: 16px;
	}

/*all*/
	.button_logout{
		position: absolute;
		width: 70px;
		height: 22px;
		border-radius: 5px;
		margin-left: 78%;
		top: -15px;
		font-size: 8px;
	}

/*all*/
	.button_back{
		position: absolute;
		width: 70px;
		height: 22px;
		border-radius: 5px;
		margin-right: 80%;
		top: -30px;
		font-size: 8px;
	}
	
/*house*/
	#button_uboj_house{
		top: 35px;
	}
	
/*home*/
	#text_witaj_home{
		font-size: 16px;
		padding-top: 20px;
	}
	
/*home*/
	#button_kurnik_home{
		font-size: 12px;
		width: 170px;
    	height: 30px;
	}
	
/*home*/
	#table-bordered{
		font-size: 12px;
		padding-top: 1px;
	}

/*home*/
	#brak_kurnikow_home{
		font-size: 16px;
		padding-top: 20px;
	}
	
/*home*/
	#button_utworz_kurnik_home{
		width: 75%;
		font-size: 12px;
	}

/*registration*/
	.validation-message{
		font-size: 14px;
	}
	
/*registration*/
	#success_message_registration{
		font-size: 16px;
	}

/*house*/
	#kurnik_powierzchnia_house{
		font-size: 16px;
	}
	
/*house*/
	#cycles_house{
		font-size: 8px;
	}

/*house,cycle*/
	#editHouseDropdown,#deleteDropdown,#dropdownMenuLink,#editDropdownCycle,#delete_dropdown_cycle{
		font-size: 12px;
		width: 170px;
    	height: 30px;
		margin-top: 5px;
	}

/*all*/
	.p-4{
		width: 90%;
	}
	
/*house*/
	.newDropdown_house{
		width: 75%;
		font-size: 12px;
	}
	
/*cycle*/
	#comments{
		width: 220px;
	}
	
/*cycle*/
	#sizer_cycle{
		width: 100%;
		font-size: 11px;
	}
	
/*cycle*/
	.zmniejszenie_buttonow_cycle{
		font-size: 8px !important;
		width: 100px !important;
    	height: 25px !important;
		margin-top: 1px !important;
		text-align: center !important;
	}
	
/*slaughter*/
	.slaughter_mini{		
		width: 50%;
		height: 75%;
	}
	
/*slaughter*/
	.slaughter_mini_padding{
		font-size: 8px !important;
		font-weight: 600;
		padding-bottom: 2px !important;
		padding-top: 2px !important;
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
	
/*slaughter*/
	.button_slaughter_edit{
		width: 80px !important;
	}


	
/*end @media max727px*/	
}	



@media (min-width:800px){
/*all*/
	#button_back_house{
		top: 180px;
	}
	
/*house*/
	#button_uboj_house{
		top: 230px;
	}
	
	
	
/*end @media min800px*/	
}



/*end