<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chicken House - Kurniki</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
	<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO">
	<form th:action="@{/logout}" method="get"><button type="submit" id="button_logout_home" class="button_logout">WYLOGUJ</button></form><br>
	<p id="text_witaj_home" th:utext="${greeting}"></p>
	<div id="srodek_buttony_house">
		<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" role="button" id="button_kurnik_home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utwórz nowy kurnik</a>
			<form class="dropdown-menu p-4" autocomplete="off" about="#" th:action="@{home/new_house}" th:object="${chickenHouseDto}" method="post">
				<div class="form-group"><label>Nazwa kurnika<input type="text"  th:field="*{name}" class="form-control" id="chickenHouseName"></label></div>
				<div class="form-group"><label>Pole kurnika w m<sup>2</sup><input type="number" th:field="*{areaOfHouse}" class="form-control" id="chickenHouseArea"></label></div>
				<button type="submit" class="btn btn-primary button newDropdown_house">Utwórz</button>
			</form>
		</div>
		<div class="container container_home">
			<div th:if="${chickenHouseDtos.size()!=0}" id="lista_kurnikow_home">
				<table class="table table-bordered" id="table-bordered">
					<thead><tr><th scope="col">Twoje kurniki:</th></tr></thead>
					<tbody><tr th:each="house : ${chickenHouseDtos}"><th scope="row"><a th:href="@{'/home/' + ${house.getId()}}" th:text="${house.getName()}"></a></th></tr></tbody>
				</table>
			</div>
		</div>
	</div><br><br>
	<p id="brak_kurnikow_home" th:if="${chickenHouseDtos.size()==0}">Nie posiadasz jeszcze żadnych kurników.</p>
</body>
</html>