<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'KURNIK - ' + ${house.getName()}"></title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
	<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO">
	<form th:action="@{/logout}" method="get"><button type="submit" id="button_logout_house" class="button_logout">WYLOGUJ</button></form><br><br><br>
	<form th:action="@{/home}" method="get"><button type="submit" id="button_back_house" class="button_back">WRÓĆ</button></form>
	<div id="kurnik_powierzchnia_house" th:text="'Nazwa kurnika: ' + ${house.getName()} + ', pole powierzchni: ' + ${house.getAreaOfHouse()} + 'm²'"></div><br><br>
	<div id="srodek_buttony_house"><div class="row">
        <div class="col-md-4 dropdown">
            <a class="btn btn-secondary dropdown-toggle col-md-12 editHouseDropdown" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Utwórz nowy rzut</a>
			<form class="dropdown-menu p-4" autocomplete="off" about="#" th:action="@{'/home/cycle/' + ${house.getId()}}" th:object="${cycleDto}" method="post">
                <div class="form-group"><label>Data wstawienia<input type="date" th:value="${date}" th:field="*{startDay}" class="form-control" id="startDay"></label></div>
                <div class="form-group"><label>Ilość kurczaków<input type="number" th:field="*{numberOfChickens}" class="form-control" id="numberOfChickens"></label></div>
                <div class="form-group"><label>Hybryd<input type="text" th:field="*{hybrid}" class="form-control" id="hybrid"></label></div>
                <div class="form-group"><label>Wylęgarnia<input type="text" th:field="*{hatchery}" class="form-control" id="hatchery"></label></div>
                <div class="form-group"><label>Cena zł/szt netto<input type="number" min="0" step="0.01" th:field="*{price}" class="form-control" id="price"></label></div>
				<button type="submit" class="btn btn-primary newDropdown_house">Utwórz</button>
            </form>
        </div>
        <div class="col-md-4 dropdown">
            <a class="btn btn-secondary dropdown-toggle col-md-12 editHouseDropdown" role="button" id="editHouseDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edycja kurnika</a>
            <form class="dropdown-menu p-4" autocomplete="off" about="#" th:action="@{'/home/' + ${house.getId()}}" th:object="${chickenHouseDto}" th:method="put">
                <div class="form-group"><label>Nazwa kurnika<input type="text" th:field="*{name}"  th:value="${house.getName()}" class="form-control" id="chickenHouseName"></label></div>
                <div class="form-group"><label>Pole powierzchni<input type="number" th:field="*{areaOfHouse}" class="form-control" id="chickenHouseArea"></label></div>
                <button type="submit" class="btn btn-primary newDropdown_house">Edytuj</button>
            </form>
        </div>
        <div class="col-md-4 dropdown">
            <a class="btn btn-secondary dropdown-toggle col-md-12 editHouseDropdown" role="button" id="deleteDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuń kurnik</a>
            <form class="dropdown-menu p-4" autocomplete="off" about="#" th:action="@{'/home/' + ${house.getId()}}" th:object="${chickenHouseDto}" th:method="delete">
				<label>Potwierdź usunięcie</label><button type="submit" class="btn btn-primary newDropdown_house">Usuń</button>
            </form>
        </div>
	</div></div><br><br>
	<div id="cycles_house" th:if="${cyclesDto.size()!=0}">
        <table class="table table-striped">
            <thead><tr>
                <th class="cycles_center_house" scope="col">Data wstawienia</th>
                <th class="cycles_center_house" scope="col">Ilość kurczaków</th>
                <th class="cycles_center_house" scope="col">Wylęgarnia</th>
                <th class="cycles_center_house" scope="col">Hybryd</th>
                <th class="cycles_center_house" scope="col">Zakończony</th>
            </tr></thead>
            <tbody><tr th:each="c : ${cyclesDto}">
                <th class="cycles_center_house" scope="row"><a th:href="@{'/home/cycle/' + ${c.getId()}}" th:text="${#temporals.format(c.getStartDay(), 'dd-MM-yyyy')}"></a></th>
                <th class="cycles_center_house" scope="row"><a th:href="@{'/home/cycle/' + ${c.getId()}}" th:text="${c.getNumberOfChickens()}"></a></th>
                <th class="cycles_center_house" scope="row"><a th:href="@{'/home/cycle/' + ${c.getId()}}" th:text="${c.getHatchery()}"></a></th>
                <th class="cycles_center_house" scope="row"><a th:href="@{'/home/cycle/' + ${c.getId()}}" th:text="${c.getHybrid()}"></a></th>
                <th class="cycles_center_house" scope="row"><a th:href="@{'/home/cycle/' + ${c.getId()}}" th:text="${c.isCompleted() == true} ? Tak : Nie"></a></th>
            </tr></tbody>
        </table>
    </div>
    <div th:if="${cyclesDto.size() == 0}"><p id="nie_ma_rzutow_house">Nie posiadasz jeszcze żadnych rzutów dla tego kurnika.</p></div>
</body>
</html>