<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chicken House - Logowanie</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
	<img th:src="@{/images/logo.png}" id="logo_login" alt="LOGO"><br><br><br>
    <form th:action="@{/login}" method="post">
		<input type="email" class="login" id="email" name="email" placeholder="E-MAIL"><br>
		<input type="password" class="login" id="password" name="password" placeholder="HASŁO"><br>
        <div id="remember_button_login"><label><input type="checkbox" id="remember" name="remember-me">&nbsp;&nbsp;Zapamiętaj mnie</label></div><br>
		<button type="submit" id="button_login_login" class="button" name="submit" value="login" th:text="ZALOGUJ"></button><br>
        <div id="error_login_login" th:text="${message}"></div><br>
    </form>
    <form th:action="@{/registration}" method="get"><button type="submit" id="button_register_login" class="button" th:text="REJESTRACJA"></button></form>
</body>
</html>