<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Chicken House - Rejestracja</title>
    <th:block th:include="partials/scripts_css" />
</head>
	
<body>
	<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO"><br><br>
	<form autocomplete="off" th:action="@{/registration}" th:object="${userDto}" method="post" class="form-horizontal" role="form">
		<p id="register_registration">REJESTRACJA</p>
		<input type="text" th:field="*{name}" placeholder="Nazwa Użytkownika" class="login" id="register_1">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="v-m_name" class="validation-message"></p>
        <input type="text" th:field="*{email}" placeholder="E-MAIL" class="login" id="register_2">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="v-m_email" class="validation-message"></p>
        <input type="password" th:field="*{password}" placeholder="HASŁO" class="login" id="register_3">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="v-m_pass" class="validation-message"></p>
        <input type="password" th:field="*{confirmedPassword}" placeholder="POTWIERDŹ HASŁO" class="login" id="register_4">
		<p id="success_message_registration" th:utext="${message}"></p>
		<button type="submit" id="button_register_registration" class="button">ZAREJESTRUJ SIĘ</button><br><br>
	</form>
    <form th:action="@{/login}" method="get">
        <button type="submit" id="button_back_registration" class="button">WRÓĆ DO LOGOWANIA</button>
    </form>
</body>
</html>