<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chicken House - Odzyskiwanie hasła</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
<img th:src="@{/images/logo.png}" id="logo_login" alt="LOGO"><br><br><br>
<form th:action="@{/reminder}" method="post">
    <label for="email">
        <input type="email" class="login" id="email" name="email" placeholder="E-MAIL"><br>
    </label>
    <button type="submit" id="button_login_login" class="button" name="submit" value="login">Resetuj hasło</button><br>
    <div id="error_login_login" th:text="${message}"></div><br>
</form>
<form th:action="@{/login}" method="get"><button type="submit" id="button_register_login" class="button">Strona logowania</button></form>
</body>
</html>