<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chicken House - Odzyskiwanie hasła</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
	<img th:src="@{/images/logo.png}" id="logo_login" alt="LOGO"><br><br><br>
	<form th:action="@{/reminder}" method="post">
		<input type="email" class="login" id="email" name="email" placeholder="E-MAIL"><br>
		<button type="submit" id="button_reset_registration" class="button" name="submit" value="login">RESETUJ HASŁO</button><br>
		<div id="error_login_login" th:text="${message}"></div>
	</form><br>
	<form th:action="@{/login}" method="get"><button type="submit" id="button_back_registration" class="button">WRÓĆ DO LOGOWANIA</button></form>
</body>
</html>