<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chicken House - Ubój</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO">
<form th:action="@{/logout}" method="get"><button type="submit" id="button_logout_cycle" class="button_logout">WYLOGUJ</button></form><br><br><br>
<form th:action="@{'/home/cycle/' + ${cycleDtoById.getId()}}" method="get"><button type="submit" id="button_back_house" class="button_back">WRÓĆ</button></form>
<div class="container" align="center">
    <p class="p_pogrubienie" align="center" th:text="'Dodaj ubój dla rzutu z dnia: ' + ${cycleDtoById.getStartDay()}"></p>
    <div class="row col-md-6 slaughter_first" align="center">
        <form  class="slaughter_first" autocomplete="off" th:action="@{'/home/cycle/slaughter/new_slaughter/' + ${cycleDtoById.getId()}}" th:object="${newSlaughter}" method="post">
            <div class="form-group"><label>Data uboju<input type="date" class="form-control" id="dateOfSlaughter" th:value="${now}" th:field="*{dateOfSlaughter}"></label></div>
            <div class="form-group"><label>Ilość kurczaków<input type="number" class="form-control" id="quantityOfChickens" placeholder="0" min="0" th:field="*{quantityOfChickens}"></label></div>
            <div class="form-group"><label>Masa żywca<input type="number" class="form-control" id="weightOfChickens" placeholder="0.00" min="0" step="0.01" th:field="*{weightOfChickens}"></label></div>
            <div class="form-group"><label>Cena za kg (netto)<input type="number" class="form-control" id="sellingPrice" placeholder="0.00" min="0" step="0.01" th:field="*{sellingPrice}"></label></div>
            <p class="uboj_save" id="success_message_registration" th:utext="${message}"></p>
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </form>
    </div><br><br><br>
	<div th:if="${slaughterDtos.size() > 0}"><p class="p_pogrubienie slaughter_first" align="center">Lista ubojów:</p></div><br>
    <div class="row col-md-12 slaughter_first" align="center">

        <table class="table border_cycle slaughter_mini slaughter_first">
            <thead class="border_gora_uboj">
            <tr class="border_cycle slaughter_mini_padding">
                <td class="border_cycle slaughter_mini_padding" align="center">#</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Data</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Doba tuczu</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Ilość</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Masa żywca [kg]</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Średnia waga [kg]</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Cena / kg (netto)</td>
                <td class="border_cycle slaughter_mini_padding" align="center">Edycja</td>
            </tr>
            </thead>
            <tbody>
            <tr class="border_cycle slaughter_mini_padding" th:each="slaughter, i : ${slaughterDtos}">
                <td class="border_cycle slaughter_mini_padding" align="center" scope="row" th:text="${i.index + 1}"></td>
                <td class="border_cycle slaughter_mini_padding" align="center" th:text="${slaughter.getDateOfSlaughter()}">Data</td>
                <td class="border_cycle slaughter_mini_padding" align="center" th:text="${slaughter.getFatteningDay()}">Doba tuczu</td>
                <td class="border_cycle slaughter_mini_padding" align="center" th:text="${slaughter.getQuantityOfChickens()}">Ilość</td>
                <td class="border_cycle slaughter_mini_padding" align="center" th:text="${slaughter.getWeightOfChickens()}">Masa żywca</td>
                <td class="border_cycle slaughter_mini_padding" align="center" th:text="${slaughter.getAverageWeight()}">Średnia waga</td>
                <td class="border_cycle slaughter_mini_padding" align="center" th:text="${slaughter.getSellingPrice()}">Cena</td>
                <td class="border_cycle slaughter_mini_padding" align="center">
                    <a class="btn btn-secondary dropdown-toggle col-md-12 editHouseDropdown zmniejszenie_buttonow_cycle button_slaughter_edit"
                       role="button" id="dayDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edycja</a>
                    <form class="dropdown-menu p-2" autocomplete="off" th:action="@{'/home/cycle/slaughter/' + ${slaughter.getId()}}" th:method="put" th:object="${slaughter}">
                        <input type="hidden" th:value="*{id}" id="id" name="id"/>
                        <div class="form-group"><label>Data<input type="date" class="form-control" th:value="*{dateOfSlaughter}" name="dateOfSlaughter"></label></div>
                        <div class="form-group"><label>Ilość kurczaków<input type="number" min="0" class="form-control"  th:value="*{quantityOfChickens}" name="quantityOfChickens"></label></div>
                        <div class="form-group"><label>Masa żywca<input type="number" min="0" step="0.01" class="form-control" th:value="*{weightOfChickens}" name="weightOfChickens"></label></div>
                        <div class="form-group"><label>Cena za kg (netto)<input type="number" min="0" step="0.01" class="form-control" th:value="*{sellingPrice}" name="sellingPrice"></label></div>
                        <button type="submit" class="btn btn-primary newDropdown_house">Edytuj</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>