<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ubój</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO">
<form th:action="@{/logout}" method="get"><button type="submit" id="button_logout_cycle" class="button_logout">WYLOGUJ</button></form><br><br><br>
<form th:action="@{'/home/cycle/' + ${cycleId}}" method="get"><button type="submit" id="button_back_house" class="button_back">WRÓĆ</button></form>

</div>
</body>
</html>