<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ubój</title>
    <th:block th:include="partials/scripts_css" />
</head>

<body>
<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO">
<form th:action="@{/logout}" method="get"><button type="submit" id="button_logout_cycle" class="button_logout">WYLOGUJ</button></form><br><br><br>
<form th:action="@{'/home/cycle/' + ${cycleDtoById.getId()}}" method="get"><button type="submit" id="button_back_house" class="button_back">WRÓĆ</button></form>
<div class="container">
    <p th:text="'Dodaj ubój dla rzutu z dnia: ' + ${cycleDtoById.getStartDay()}"></p>

    <form autocomplete="off" th:action="@{/home/cycle/slaughter/new_slaughter}" th:object="${newSlaughter}" method="post">
        <div class="form-group">
            <label for="dateOfSlaughter">Data uboju</label>
            <input type="date" class="form-control" id="dateOfSlaughter" th:value="${now}">
        </div>
        <div class="form-group">
            <label for="quantityOfChickens">Ilość kurczaków</label>
            <input type="number" class="form-control" id="quantityOfChickens" placeholder="0" min="0">
        </div>
        <div class="form-group">
            <label for="weightOfChickens">Masa żywca</label>
            <input type="number" class="form-control" id="weightOfChickens" placeholder="0.00" min="0" step="0.01">
        </div>
        <div class="form-group">
            <label for="sellingPrice">Cena za kg (netto)</label>
            <input type="number" class="form-control" id="sellingPrice" placeholder="0.00" min="0" step="0.01">
        </div>
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </form>

</div>
</body>
</html>