<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chicken House - Panel użytkownika</title>
    <th:block th:include="partials/scripts_css" />
</head>
<body>
<img th:src="@{/images/logo.png}" class="logo_all" alt="LOGO"><br><br><br>
<form th:action="@{/logout}" method="get"><button type="submit" id="button_logout_home" class="button_logout">WYLOGUJ</button></form><br>
<form th:action="@{/home}" method="get"><button type="submit" id="button_glowna_panel">STRONA GŁÓWNA</button></form><br>
<form th:action="@{/user_panel}" method="post">
	<div align="center" id="srodek_panel"><a class="pogrubienie_summary">ZMIANA HASŁA</a></div>
    <input type="password" class="login" id="oldPass" name="oldPass" placeholder="Stare hasło">
    <input type="password" class="login" id="newPass" name="newPass" placeholder="Nowe hasło">
    <input type="password" class="login" id="confirmPass" name="confirmPass" placeholder="Potwierdź hasło"><br>
    <button type="submit" id="button_change_registration" class="button" name="submit" value="login">ZMIEŃ HASŁO</button><br>
    <div id="error_login_login" th:text="${message}"></div><br></form>
<form th:action="@{/login}" method="get"><button type="submit" id="button_back_registration" class="button">WRÓĆ DO LOGOWANIA</button></form>
</body>
</html>